{% load i18n %}
{% autoescape off %}
<html>
  <body>
    <p>{% blocktranslate %}Recibiste este correo porque solicitaste restablecer la contraseña de tu cuenta en {{ site_name }}.{% endblocktranslate %}</p>

    <p>{% translate "Por favor, visita la siguiente página y elige una nueva contraseña:" %}</p>
    <p>
      <a href="{{ protocol }}://{{ domain }}{% url 'usuario:password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'usuario:password_reset_confirm' uidb64=uid token=token %}
      </a>
    </p>

    <p>{% translate 'En caso de que lo hayas olvidado, tu usuario es:' %} <b>{{ user.get_username }}</b></p>

    <p>{% translate "¡Gracias por usar nuestro sitio!" %}</p>
    <p>{% blocktranslate %}El equipo de {{ site_name }}{% endblocktranslate %}</p>

    <hr>
    <p>
      <img src="https://{{ domain }}/static/img/logo.png" alt="{{ site_name }}" width="150" />
    </p>
  </body>
</html>
{% endautoescape %}
