
<body>

            <!-- Formulario -->
            <div class="col-lg-6 bg-white d-flex align-items-center">
              <div class="p-5 w-100">
                <div class="text-center mb-4">
                  <h1 class="h4 text-gray-900 fw-bold">Inicio de sesión</h1>
                  <small class="text-danger">
                    {% if form.errors %}
                      {{ form.non_field_errors }}
                    {% endif %}
                  </small>
                </div>

                <form class="user" method="post" action="">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <input type="text" class="form-control form-control-user"
                           name="username" id="id_username"
                           placeholder="Ingresa tu usuario...">
                  </div>
                  <div class="form-group mb-3">
                    <input type="password" class="form-control form-control-user"
                           name="password" id="id_password"
                           placeholder="Contraseña...">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between mb-3">
                   
                  </div>
                  <div></div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    <i class="fas fa-sign-in-alt me-2"></i> Iniciar Sesión
                  </button>
                </form>

                <hr>
                <div class="text-center">
                  <a class="small text-decoration-none" href="{% url 'usuario:password_reset' %}">¿Olvidaste tu contraseña?</a>
                </div>
              </div>
            </div>
            
</body>
